---
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');
---

{
	allProjects.map(async frontmatter => {
		const { data } = frontmatter;

		return (
			<div class="project-card">
				<h3 class="project-card__title">{data.title}</h3>
				<div class="project-card__imgContainer">
					<img
						class="project-card__desktopImg"
						src={data.desktopImg.url.src}
						alt={data.desktopImg.alt}
					/>
					<img
						class="project-card__mobileImg"
						src={data.mobileImg.url.src}
						alt={data.mobileImg.alt}
					/>
				</div>
				<div class="project-card__overlay corner-border" />
			</div>
		);
	})
}

<style lang="scss">
	.project-card {
		--transition-duration: 500ms;

		transition:
			box-shadow var(--transition-duration) ease,
			opacity var(--transition-duration) ease;

		background-color: $secondary-color;
		color: $primary-color;
		margin: 1rem 0;
		height: fit-content;
		max-height: 70vh;
		overflow: hidden;
		position: relative;
	}

	.project-card__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(1px);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

		&::after {
			--corner-color: #{$main-color};
			--corner-scale: 1.05;
		}

		opacity: 0;
		transition: opacity var(--transition-duration) ease;
	}

	.project-card:hover {
		box-shadow: none;
		.project-card__overlay {
			opacity: 1;
		}

		@include mq('sm') {
			.project-card__mobileImg {
				transition: opacity var(--transition-duration) ease;
				opacity: 0;
			}
		}
	}

	.project-card__title {
		text-align: center;
		padding: 1rem 0;
	}

	.project-card__imgContainer {
		display: flex;
	}

	.project-card__desktopImg {
		display: none;
	}

	@include mq('sm') {
		.project-card {
			width: 70%;
			max-width: 600px;
			height: fit-content;
			margin: 0 auto;
			overflow: visible;
		}

		.project-card__imgContainer {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.project-card,
		.project-card__mobileImg {
			box-shadow: 5px 5px 10px $tertiary-color;
		}

		.project-card__desktopImg {
			display: block;
			margin: 0 auto;
		}

		.project-card__mobileImg {
			opacity: 1;
			transition: opacity var(--transition-duration) ease;
			position: absolute;
			top: -2rem;
			left: -2rem;
		}
	}
</style>
