---
import SectionCard from '@components/ui/SectionCard.astro';
import Swiper from '@functionnal-components/Swiper';
import { getCollection } from 'astro:content';

type Props = {
	id: string;
	sectionNumber: number;
	sectionTitle: string;
	shape: 'type2';
};

const { id, sectionNumber, sectionTitle, shape } = Astro.props;
const allProjects = await getCollection('projects');
const personalProject = allProjects.filter(item => item.data.type === 'personnal');
const topProject = allProjects.filter(item => item.data.type === 'top');
const ocrProject = allProjects.filter(item => item.data.type === 'ocr');
---

<SectionCard
	id={id}
	sectionNumber={sectionNumber}
	sectionTitle={sectionTitle}
	class={shape}
>
	<div slot="section-text" class="section-container">
		<div class="section-container__personnal">
			<h2 class="section-container__title">Personal Projects</h2>
			<Swiper client:load projects={personalProject} effect="coverflow" />
		</div>
		<div class="section-container__top">
			<h2 class="section-container__title">The Odin Project</h2>
			<Swiper client:load projects={topProject} effect="coverflow" />
		</div>
		<div class="section-container__ocr">
			<h2 class="section-container__title">Open Class Room</h2>
			<div class="section-container__ocr_projects">
				<Swiper client:load projects={ocrProject} effect={'cube'} />
			</div>
		</div>
	</div>
</SectionCard>

<style lang="scss">
	.section-container__title {
		padding: 1rem 0;
		text-align: center;

		position: relative;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 15vw;
			height: 2px;
			background: $tertiary-color;
			top: 50%;
			position: absolute;

			@include mq('sm') {
				width: 30vw;
			}
			@include mq('md') {
				width: 40vw;
			}
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
</style>
