---
import SectionCard from '@components/ui/SectionCard.astro';
import Swiper from '@functionnal-components/Swiper';
import { getCollection } from 'astro:content';

type Props = {
	id: string;
	sectionNumber: number;
	sectionTitle: string;
	shape: 'type2';
};

const { id, sectionNumber, sectionTitle, shape } = Astro.props;
const allProjects = await getCollection('projects');
const personalProject = allProjects.filter(item => item.data.type === 'personnal');
const topProject = allProjects.filter(item => item.data.type === 'top');
---

<SectionCard
	id={id}
	sectionNumber={sectionNumber}
	sectionTitle={sectionTitle}
	class={shape}
>
	<div slot="section-text" class="section-container">
		<h2 class="section-container__title">Personal Projects</h2>
		<Swiper client:load projects={personalProject} />
		<h2 class="section-container__title">The Odin Project</h2>
		<Swiper client:load projects={topProject} />
		<h2 class="section-container__title">Open Class Room</h2>
	</div>
</SectionCard>

<style lang="scss">
	.section-container__title {
		padding: 1rem 0;
		text-align: center;
	}
</style>
